# Binaries for programs and plugins
*.exe
*.exe*
*.dll
*.so
*.dylib
main

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
o


coverage.txt
**/tmp.md

go.work.sum

.*/
# But not .github, .augment and .claude
!/.github
!/.augment
!/.claude

# Other
.DS_Store
*.var
