# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
o
.*/

coverage.txt
**/tmp.md

go.work.sum

# But not .github
!/.github

# Other
.DS_Store
*.var
