name: CI pkg-cmd

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'pkg/istorage/**'

jobs:
  call-workflow-ci-pkg:
    if: github.repository == 'voedger/voedger'
    uses: untillpro/ci-action/.github/workflows/ci_reuse_go.yml@main
    with:
      test_folder: "pkg"
      ignore_copyright: "cmd/voedger/sys.monitor/site.main"
      short_test: "true"
      go_race: "false"
      ignore_build: "true"
      test_subfolders: "true"
      install_tinygo: "true"
    secrets:
      reporeading_token: ${{ secrets.REPOREADING_TOKEN }}
      personal_token: ${{ secrets.PERSONAL_TOKEN }}


  call-workflow-cd_voeger:
    needs: call-workflow-ci-pkg
    if: github.repository == 'voedger/voedger'
    uses: voedger/voedger/.github/workflows/cd-voedger.yml@main
    secrets:
      dockerusername: ${{ secrets.DOCKER_USERNAME }}
      dockerpassword: ${{ secrets.DOCKER_PASSWORD }}
      personaltoken: ${{ secrets.PERSONAL_TOKEN }}
      reporeading_token: ${{ secrets.REPOREADING_TOKEN }}
