name: CI pkg-cmd PR

on:
  pull_request_target:
    paths-ignore:
      - 'pkg/istorage/**'

jobs:
  call-workflow-ci-pkg:
    if: github.repository == 'host6/voedger'
    uses: host6/ci-action/.github/workflows/ci_reuse_go_pr.yml@AIR-2111-ci-action-DRY-optimize-reuse-go-dev
    with:
      test_folder: "pkg"
      ignore_bp3: "true"
      short_test: "true"
      ignore_build: "true"
      running_workflow: "CI pkg-cmd PR"
      go_race: "false"
      test_subfolders: "true"
    secrets:
      reporeading_token: ${{ secrets.REPOREADING_TOKEN }}
      codecov_token: ""
      personal_token: ${{ secrets.PERSONAL_TOKEN }}
  auto-merge-pr:
    needs: call-workflow-ci-pkg
    uses: ./.github/workflows/merge.yml
    secrets:
      personaltoken: ${{ secrets.REPOREADING_TOKEN }}
