name: Vulnerability management

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout and Setup go
      uses: untillpro/ci-action/checkout-and-setup-go@main

    - name: Vulnerability management
      run: |
        go install golang.org/x/vuln/cmd/govulncheck@latest
        curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/execgovuln.sh | bash

